version: '3.8'

services:
  #   db:
  #     image: postgres:15
  #     container_name: proyeccion_db
  #     restart: always
  #     volumes:
  #       - postgres_data:/var/lib/postgresql/data
  #     environment:
  #       POSTGRES_DB: proyeccion_moden
  #       POSTGRES_USER: postgres
  #       POSTGRES_PASSWORD: admin
  #     ports:
  #       - "5432:5432"

  backend:
    build: ./api_proyeccion_moden
    container_name: proyeccion_backend
    volumes:
      - ./api_proyeccion_moden:/app
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=proyeccion_moden
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_HOST=192.168.0.49
      - POSTGRES_PORT=5432

  frontend:
    build: ./app_proyeccion_moden
    container_name: proyeccion_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
