.visor-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.projected-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Garantiza que se vea todo el plano */
}

h1 {
    font-family: monospace;
    font-size: 3rem;
}
