<main #mapperWrapper id="mapperWrapper" tabindex="0" (mousemove)="this.move($event)" (mouseup)="this.mouseupHandler()"
    (mousedown)="this.mousedownHandler($event)" (blur)="this.setInactiveImmediately()">

    <div #sourceIframe id="sourceIframe" class="sourceCorrect" (ontransitionend)="transitionEndHandler()"
        draggable="false">
        <div #result id="result">
            <img #correctedVideo id="correctedVideo" width="100%" height="100%"
                [style.display]="imageUrl ? 'block' : 'none'" />
            @if (!imageUrl) {
            <div class="no-image-text">Imagen/Plano no asignado</div>
            }
        </div>
        @if (showGrid) {
        <div class="calibration-grid"></div>
        }
    </div>
    <div #markertl id="marker0" class="corner tl"></div>
    <div #markertr id="marker2" class="corner tr"></div>
    <div #markerbl id="marker4" class="corner bl"></div>
    <div #markerbr id="marker6" class="corner br"></div>
    <div #buttonsContainer id="buttonsContainer" class="sourceCorrect" style="display: none;"></div>

    <div #line1 class="line" id="line1"></div>
    <div #line2 class="line" id="line2"></div>
    <div #line3 class="line" id="line3"></div>
    <div #line4 class="line" id="line4"></div>

    @if (isBlackout) {
    <div class="blackout-overlay"></div>
    }

</main>